site_name: Funny Docs
copyright: Copyright © 2022-2023 funny-dream. All Rights Reserved.
theme:
  name: material
  language: zh
  # 评论系统
  custom_dir: overrides
  palette:
    # 自动亮/暗模式
    - media: '(prefers-color-scheme: light)'
      # 配色方案
      scheme: default
      # 原色
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - media: '(prefers-color-scheme: dark)'
      scheme: slate
      primary: teal
      accent: amber
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link

  logo: "img/logo.png"
  favicon: img/favicon.ico
  icon:
    repo: fontawesome/brands/github

# 右上角
repo_name: funny-dream/funny-docs
repo_url: "https://github.com/funny-dream/funny-docs"

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - attr_list
  - tables
  - def_list

plugins:
  - search
  - mike

extra:
  generator: false
  version:
    provider: mike

extra_javascript:
  - '//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js'

nav:
  - 首页: index.md
  - 自动化测试:
      - 自动化/Pytest从入门到起飞.md
      - 自动化/unittest—3小时入门版.md
      - 自动化/Playwright—8小时入门版.md
      - 自动化/Selenium—8小时入门版.md
      - 自动化/HttpRunner-2小时入门版.md
      - 自动化/locust—2小时入门版.md
      - 自动化/JMeter—10小时入门版.md
      - 自动化/Appium—6小时入门版.md

  - 网络/爬虫:
      - 爬虫/Requests.md
      - 爬虫/Httpx.md
      - 爬虫/Scrapy.md

  - 前端/后端:
      - 前后端/FastAPI—8小时入门版.md
      - 前后端/MySQL基础.md
      - 前后端/Linux上安装Node.js.md

  - AI/视觉:
      - 视觉/OpenCV(Python)基础—9小时入门版.md
      - 视觉/MMDetection入门基础.md

  - Python:
      - Python/Python基础语法—8小时入门版.md
      - Python/Python从进阶到高级—通俗易懂版.md
      - Python/Python包构建和发布.md
      - Python/Python环境与依赖管理.md
      - Python/Linux上安装Python3.9.9.md
      - Python/Linux上如何选择用pip3还是sudopip3.md
      - Python/配置Python源的几种方法.md

  - Linux/容器:
      - Linux/KVM安装配置及使用说明.md
      - Linux/Docker入门.md
      - Linux/Linux基础.md

  - 常见问题及方案:
      - 常见问题及方案/配置开机自启服务.md
      - 常见问题及方案/Linux上sudo免密.md
      - 常见问题及方案/Linux上远程桌面VNC配置.md
      - 常见问题及方案/node-error-01.md
